.item-table {
  td {
    vertical-align: middle;
    &:first-child {
      width: 50px;
    }
    &.name {
      white-space: nowrap;
    }
    &:last-child {
      text-align: right;
    }
    img {
      max-width: 50px;
    }
  }
}

.multiple-item-location {
  opacity: 0.5;
}
